{% extends "authentication/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card" style="width: 350px;">
            <div class="card-body">
                <h1 class="card-title" style="text-align: center;">Register</h1>
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="staticEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="staticEmail" placeholder="email@example.com" name="email" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" name="password" required>
                    </div>
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="display: block; width: 100% ;right:0;">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}