
{% extends "home/base.html" %}
{% load numbers %}

{% block title %}
    Comments
{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1>Comment page for {{ title }} </h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% for c in comments %}
            <div class="mt-3">
                <strong>{{ c.user.username }} on {{ c.created_at|date:"F j, Y H:i" }} said:</strong><br>
                {{ c.comment }}
            </div>
        {% endfor %}
    </div>
{% endblock %}