{% extends "home/base.html" %}

{% block title %}
    Movie App
{% endblock %}

{% block main %}
<style>
    /* Add your internal CSS styles here */
    .search-row {
        margin-top: 20px;
        margin-right: 10px;
    }
    .search-form{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }
    
    .form-control{
        position: absolute;
        width: 60%;
        right: 220px;
    }
    .form-select{
        position: absolute;
        width: 20%;
    }
   
    
    .search-row button{
        position: absolute;
        width: 20%;
        right: 0;
        height: 38px;
        border-radius: 10px;
        background-color: rgb(65, 65, 207);
        color: white;
    }
    @media(max-width:991px){
        .search-form{
            flex-direction: column;
        }
        .form-select{
            position: absolute;
            width: 20%;
            margin-bottom: 10px;
            left: 0;
        }
        .form-control{
            position: absolute;
            width: 80%;
            margin-bottom: 10px;
            right: 0;
        }
        .search-row button{
            position: absolute;
            width:20%;
            margin-right: 0;
            margin-bottom: 10px;
            right: 0;
        }
    }
    @media(max-width:767px){
    .search-form{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .form-select{
        width: 100%;
        margin-bottom: 10px;
    }
    .form-control{
        width: 100%;
        margin-bottom: 10px;
    }
    .search-row button{
        width: 100%;
        margin-bottom: 10px;
    }
    .search-row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 22px;
    }
}

</style>
<div class="row mt-4">
    <div class="col-md-12">
        <h2 style="font-weight: bold;">SEARCH MOVIES</h2>
        <form action="{% url 'movies:search' %}" method="get" class="search-form">
            <div class="input-group mb-3">
                <div class="search-row">
                    <select class="form-select" name="type">
                        <option value="movie">Movie</option>
                        <option value="tv">TV Show</option>
                    </select>
                </div>
                <div class="search-row">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
                <div class="search-row">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
   .card{
     margin-top: 100px;
     width: 100%;
     max-width: 1200px;
     height: 700px;
   }
   .card-text{
     max-height: 50px;
     overflow: hidden;
     transition: max-height 0.3s ease-out;
   }
   .btn.btn-primary{
        display: block;
        width: 82%;
        bottom: 10px;
        position: absolute;
        border-radius: 10px;
        border-color: black;
        border-style: solid;
        font-weight: bold;
        background-color: rgb(11, 59, 148);
    }
    .pagination{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .pagination button{
        width: 100px;
        margin: 5px;
        background-color: rgb(36, 36, 136);
        color: white;
        border-radius: 10px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .col-md-3{
        flex: 0 0 calc(25% - 20px);
        margin: 10px;
    }
    @media (max-width:767px){
        .row{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        .card{
            width: 100%;
            margin-bottom: 10px;
        }
        a{
            margin-left: 0;
        }
        .pagination{
            flex-direction: column;
            align-items: center;
        }
        .pagination button{
            width: 80%;
        }
        .col-md-3{
            flex: 0 0 calc(50% - 20px);
        }
        
    }

  
</style>

<div class="container mt-4">
    <h2 style="font-weight: bold;">TRENDING</h2>

    <div class="input-group mb-3">
        <select class="form-select" id="media_type">
            <option selected >All Trending Media Types</option>
            <option value="movie">All Trending Movies</option>
            <option value="tv" >All Trending TV Shows</option>
            <option value="person" >All Trending Persons</option>
        </select>
    </div>
</div>

    <div class="row" id="trendings">
        {% for item in trending_items %}
            <div class="col-md-3 mb-4">
                <div class="card ">
                    <img src="{{ item.poster_path }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text ">{{ item.overview }}</p>
                        <a href="{{ item.url }}" class="btn btn-primary" onclick="toggleDetails(this)">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <button class="button" id="prev-page" disabled>Previous</button>
    <button class="button" id="current-page">Page 1</button>
    <button class="button" id="next-page">Next</button>
</div>



<script>
    let currentPage =1;
    let totalPages = 3;

    if(currentPage ===1) {
        document.getElementById('prev-page').disabled = true;
    }
    document.getElementById('current-page').textContent =` Page ${currentPage}`;

    if(currentPage < totalPages){
        document.getElementById('next-page').disabled = false;
    }else{
        document.getElementById('next-page').disabled = true;
    }

    document.getElementById('prev-page').addEventListener('click',() => {
        if(currentPage > 1) {
            currentPage--;
            updatePagination();
            fetchTrendingResults(mediaType.options[mediaType.selectedIndex].value,'day');
        }
    });

    document.getElementById('next-page').addEventListener('click',() => {
        if(currentPage < totalPages){
            currentPage++;
            updatePagination();
            fetchTrendingResults(mediaType.options[mediaType.selectedIndex].value,'day');
        }
    });
    function updatePagination() {
        document.getElementById('current-page').textContent = `Page ${currentPage}`;

        if(currentPage === 1){
            document.getElementById('prev-page').disabled = true;
        }else{
            document.getElementById('prev-page').disabled = false;
        }
        if(currentPage === totalPages){
            document.getElementById('next-page').disabled = true;
        }else{
            document.getElementById('next-page').disabled = false;
        }
    }
    

    function toggleDetails(button) {
        var description = button.parentNode.querySelector('.movie-description');
        description.classList.toggle('...');
    }
   

    fetchTrendingResults("all", "week")

        var mediaType = document.getElementById("media_type");
        mediaType.addEventListener("change", function(event) {
        fetchTrendingResults(mediaType.options[mediaType.selectedIndex].value,'day')
    });

 
   

    function fetchTrendingResults(media_type, time_window) {
        var trendingDiv = document.getElementById("trendings")
        trendingDiv.innerHTML = "";

        fetch (`/api/trendings?media_type=${media_type}&time_window=${time_window}&page=${currentPage}`, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(res => {
            if(!res.ok){
                throw new error(`HTTP! status:${res.status}`);
            }
            return res.json();
        })
       
        .then(data => {
            const itemsPerPage = 9;
            const startIndex = (currentPage - 1)* itemsPerPage;
            const endIndex = startIndex + itemsPerPage;

            for (let i=startIndex; i<endIndex && i<data.results.length; i++) {
                var mainDiv = document.createElement("div");
                mainDiv.setAttribute("class", "card");
                mainDiv.setAttribute("style", "width: 18rem;");
                var img = document.createElement("img");
                var imagePath;
                if(data.results[i].media_type === "person"){
                    imagePath = "https://image.tmdb.org/t/p/w200" + data.results[i].profile_path; 
                }else {
                    imagePath = "https://image.tmdb.org/t/p/w300" + data.results[i].poster_path; 
                }
                img.setAttribute("src", imagePath)
                img.setAttribute("class", "card-img-top");
                img.setAttribute("alt", "...");
                var body = document.createElement("div");
                body.setAttribute("class", "card-body");
                var title = document.createElement("h5");
                title.setAttribute("class", "card-title");
                if (data.results[i].name) {
                    title.innerHTML = data.results[i].name;
                } else {
                    title.innerHTML = data.results[i].title;
                }
                var text = document.createElement("p");
                text.setAttribute("class", "card-text");
                text.innerHTML = data.results[i].overview;
                var link = document.createElement("a");
                link.setAttribute("href", "/" + data.results[i].media_type + "/" + data.results[i].id + "/");
                link.setAttribute("class", "btn btn-primary");
                link.innerHTML = "View Details";
                body.appendChild(title);
                body.appendChild(text);
                body.appendChild(link);
                mainDiv.appendChild(img);
                mainDiv.appendChild(body);
                document.getElementById("trendings").appendChild(mainDiv);
            }
        })
    
       
    }
 
</script>
{% endblock %}