
{% extends "home/base.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ data.name }}</h1>
        <h4 class="text-secondary"><i>~{{ data.tagline }}</i></h4>
        <img src="https://image.tmdb.org/t/p/w200{{ data.poster_path }}" alt="{{ data.name }} Poster">
        <hr>
        <h2>Networks</h2>
        <div class="row">
            {% for n in data.networks %}
                <div class="col-md-4 mb-4">
                    <h3>{{ n.name }}</h3>
                    <img src="https://image.tmdb.org/t/p/w200/{{ n.logo_path }}" alt="{{ n.name }} Logo">
                </div>
            {% endfor %}
        </div>
        <hr>
        <h2>Genres</h2>
        <ul>
            {% for g in data.genres %}
                <li>{{ g.name }}</li>
            {% endfor %}
        </ul>
        <hr>
        <h2>Languages</h2>
        <ul>
            {% for l in data.languages %}
                <li>{{ l }}</li>
            {% endfor %}
        </ul>
        <hr>
        <h2>Last episode as of today</h2>
        <p>
            <strong>Air date:</strong> {{ data.last_episode_to_air.air_date }} <br>
            <strong>Episode number:</strong> {{ data.last_episode_to_air.episode_number }} <br>
            <strong>Name: </strong> {{ data.last_episode_to_air.name }} <br>
            <strong>Overview: </strong> {{ data.last_episode_to_air.overview }} <br>
        </p>
        <hr>
        <style>
           .card{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 700px;
            }
            .movie-description {
                max-height: 50px; /* Adjust the max height as needed */
                overflow: hidden;
                transition: max-height 0.3s ease-out;
            }

            a{
                position: absolute;
                bottom: 10px;
                display: block;
                width: 90%;
            }
            
            .btn.btn-primary{
                border-radius: 10px;
                font-weight: bold;
                border-style: solid;
                border-color: white;
            }
            @media only screen and (min-width: 768px) and (max-width: 1024px){
                .row{
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -15px;
                    margin-right: -15px;
                }
                .col-md-4{
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
            @media(max-width:767px){
                .card{
                    width: 100%;
                }
                .btn.btn-primary{
                    display: block;
                    width: 90%;
                    
                }
            }

        </style>
        <h2>Recommendations </h2>
        <div class="row">
            {% for m in recommendations.results %}
                <div class="col-md-4 col-lg-4 mb-4">
                    <div class="card ">
                        <img src="https://image.tmdb.org/t/p/w200{{ m.poster_path }}" class="card-img-top" alt="{{ m.title }}">
                        <div class="card-body">
                            {% if not m.name %}
                                <h5 class="card-title">{{ m.title }}</h5>
                            {% else %}
                                <h5 class="card-title">{{ m.name }}</h5>
                            {% endif %}
                            <p class="card-text movie-description">{{ m.overview }}</p>
                            <a href="/{{ type }}/{{ m.id }}/" class="btn btn-primary" onclick="toggleDetails(this)">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        
        function toggleDetails(button) {
            var description = button.parentNode.querySelector('.movie-description');
            description.classList.toggle('...');
        }
    </script>
{% endblock %}